@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", san-serif;
  font-size: medium;
  font-style: normal;
  font-weight: lighter;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background: #fff;
  height: 60px;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.98);
}
#menu {
  margin-left: 4px;
  font-size: 24px;
}

.navbar-left img {
  height: 30px;
  width: 90px;
  margin-left: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar i {
  color: rgb(96, 96, 96);
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.navbar-search {
  display: flex;
  flex-direction: row;
}

.navbar-search form {
  border: 1px solid #ddd;
  height: 33px;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-search input {
  width: 550px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
  border: 1px solid #ddd;
}

.form button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  color: #f1f1f1;
  width: 65px;
}

.navbar-search i {
  font-size: 22px;
  padding: 5px 5px 5px 5px;
}

#main-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 60px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  top: 60px;
  z-index: 2;
  width: 80px;
}

.sidebar div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.sidebar i {
  font-size: 24px;
  color: rgb(96, 96, 96);
  display: flex;
  align-items: center;
}

.sidebar h5 {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}

.home h5 {
  color: red;
}
.home i {
  color: red;
}

.main-body {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  background: #f1f1f1;
}

.tagbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 61px;
  width: 100%;
  padding: 10px 2px 10px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.98);
  top: 60px;
  margin-right: 0px;
  border-bottom: 2px solid #ddd;
  border-top: 1px solid #ddd;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#first {
  color: white;
  background-color: black;
  margin-left: 26px;
}
.buttons button {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  margin: 4px 6px;
  background: rgb(241, 241, 241);
  padding: 6px 13px;
  font-size: 0.9rem;
  font-weight: 520;
  color: rgb(29, 28, 28);
  display: inline-block;
  text-decoration: none;
}

.video-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 130px;
  margin-bottom: 0px;
  padding: 25px;
  background: #f1f1f1;
  width: 100%;
}

.video {
  width: 270px;
  margin-bottom: 20px;
}

.main-video {
  width: 100%;
  height: 170px;
}
.main-video img {
  width: 100%;
}

.description {
  display: flex;
  margin-top: 2px;
  padding-right: 25px;
}

.profile img {
  margin-right: 10px;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 6px;
  color: #000000;
  font-size: medium;
}
a {
  text-decoration: none;
}
.text a,
span {
  font-size: medium;
  font-weight: bold;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #606060;
}
